.content{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 17vw;
    height: auto;
    margin: 20px;
    background-color: whitesmoke;

 
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.575);
    
  }
  
  .container {
    padding: 2px 16px;
  }

  @media only screen and (max-width:830px){
    .content{
      padding-top:60px;
      .card{
        width: 26%;
      }
      
    }
  }
  
  
    @media only screen and (max-width:600px){
      .content{
        padding:0;
        
      .card{
        width: 100%;
        margin: 7px;
        padding: 10px;
        margin-bottom: 5px;
        // border-bottom: 3px solid black;
      }
      
      }
    }